* {
    margin: 0;
    padding: 0px;
}

body {
    background-color: #70A288;
}

.flexContainer {
    background-color: #70A288;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    width: auto;
    padding-top: 20px;
}

.flexContainer .containerImg img {
    height: 220px;
    width: 340px;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
}

.flexContainer .containerImg img:hover {
    height: 260px;
    width: 430px;

}

.tituloGaleria {
    text-align: center;
    color: #fdfbf9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}


/*Css pagina externa */

.containerConheca {
    margin: 100px;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-color: #04395E;
    border-radius: 5px;
}

.containerConheca img {
    height: 250px;
    width: 400px;
    margin: 20px;
    border-radius: 10px;
}

.pContainer {
    text-align: left;
    background-color: #A5AD87;
    color: #fdfbf9;
    height: 250px;
    width: 800px;
    margin: 20px;
    border-radius: 5px;
}

.pContainer p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 20px;
}